body {
	background-color: #303030;
}

table {
	margin-top: 20px;
	border-collapse: collapse;
	width: 100%;
}

th, td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #000000;
}

th {
	background-color: #303030;
}

#readme {
	margin-bottom: 20px;
}
